.heroImage {
  position: relative;
  width: 100%;
  background: url("./img/21DavidHeroImage.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -150px;
}

.landingHeader {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 14%;
  left: 59%;
}

.lead {
  color: white;
  position: absolute;
  top: 23%;
  left: 59.5%;
}

.logInJumbo {
  background-color: #234567;
  margin-top: 10%;
}

.page {
  width: 21cm;
  height: 29.7cm;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
}
