.heroImage {
  position: relative;
  width: 100%;
  background: url("./img/21DavidHeroImage.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -150px;
}

.navbar {
  box-shadow: 5px 4px 5px #000;
}

.containerMargin {
  margin-top: 80px;
}

.landingHeader {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 14%;
  left: 59%;
}

.lead {
  color: white;
  position: absolute;
  top: 23%;
  left: 59.5%;
}

.logInJumbo {
  background-color: #234567;
  margin-top: 10%;
}

.page {
  width: 21cm;
  height: 29.7cm;
}

.indent {
  text-indent: 50px;
}

.dicPic {
  width: 600px;
  height: 800px;
}

.dwiEnvelope {
  width: 600px;
  height: 200px;
}

.jumboBackground {
  background-color: #36454f;
}

.dwiImage {
  width: 275px;
  height: 275px;
}

.cardStyle {
  box-shadow: 10px 10px 5px grey;
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
}

.cardStyle:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  box-shadow: 12px 12px 5px grey;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .printButton {
    display: none;
  }
}
