.heroImage {
  position: relative;
  width: 100%;
  background: url("./img/21DavidHeroImage.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landingHeader {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 14%;
  left: 45%;
}

.lead {
  color: white;
  position: absolute;
  top: 23%;
  left: 62%;
}

.logInJumbo {
  background-color: #234567;
  margin-top: 10%;
}
